# =========================
# Build output
# =========================
bin/
obj/
out/

# =========================
# Rider
# =========================
.idea/
*.sln.iml

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# NuGet
# =========================
packages/
*.nupkg

# =========================
# Temp files
# =========================
*.tmp
*.temp

# =========================
# Publish output
# =========================
publish/